.expense-paper{
    display: flex;
    min-height: 10vh;
    max-width: 70vw;
    margin: 10px;
    color: white;
    font-size: xx-large;
}

.expense-left{
    width: 25%;
    background: linear-gradient(140deg, #924eba 0%, #a457d1 50%, #be64f1 75%);
    height: 10vh;

}
.expense-mid{
    width: 50%;
    background: linear-gradient(140deg, #ce7bff 0%, #c88cec 50%, #d087fa 75%);
    height: 10vh;
    color: black;
    font-size: medium;
}
.expense-right{
    width: 25%;
    background: linear-gradient(140deg, #924eba 0%, #a457d1 50%, #be64f1 75%);
    height: 10vh;
}
.dialog-title{
    background: linear-gradient(140deg, #924eba 0%, #a457d1 50%, #be64f1 75%);
}
.dialog-content{
    justify-content: space-evenly;
}

.dialog-content-inner{
    display: flex;
    justify-content: space-evenly;
}
.dialog-user{
    min-width: 100px;
    min-height: 100px;
    margin: 10px;
    border: 2px solid transparent;
}
.selected{
    border: 2px solid brown;
}
.oval {
    width: 75px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-color: #3498db; /* Adjust background color as needed */
    border-radius: 50%; /* This creates the oval shape */
    display: flex;
    font-size: medium;
}
  

.red{
    color: red;
}
.green{
    color: green;
}